body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
   
.carousel,
.carousel-inner,
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(95%);
}


.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.overlay-container-welcome {
  position: absolute;
  top: 10px; /* Adjust this value to move it higher or lower */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  z-index: 10;
  padding: 10px 0; /* Add padding to prevent overlap */
}



.login-container {
  background: rgba(255, 255, 255, 0.973);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  position: relative;
  margin-inline-start:200px;
  margin-bottom: 200px;
  margin-left: 690px;
}


.login-title {
background: rgba(25, 24, 24, 0.7);
color: #e4d4d4;
padding-top: 10px;
border-radius: 50px;
font-size: 24px;
width: 100%;
margin-top: 50px;
display: flex;
align-items: center;
justify-content: flex-start; /* Align items to the left */

}
.login-title h1{
margin-left: 100px;
}

.logo {
height: 75px; /* Adjust size as needed */
width: auto;   
margin-left: 20px;
}

.label{
  color: rgb(115, 99, 92);
}
.custom-btn {
  background-color: #795548;
  color: #fff;
}

.custom-btn:hover {
  background-color: #5d4037;
}

.links {
  font-size: 14px;
}

/* Center on mobile */
@media (max-width: 768px) {
  .overlay-container {
    justify-content: center;
    /* Centers the content */
    padding-right: 0;
  }

  .login-container {
    left: 0;
    margin: 0 auto;
    /* Ensures it stays centered */
  }
  .login-title h1{
    font-size: larger;
}
  .logo {
    display: none;
}
}