{% extends "core/base.html" %}

{% block content %}
<div class="container-fluid mt-4">
  <h2>Update Profile Image</h2>

  <div class="card card-primary card-outline shadow-sm mb-4">
    <div class="card-body">
      <p>Your Current Image:</p>
        <img src="{{ user.image.url }}" 
        alt="Profile image"
        class="rounded-circle" 
        width="150" height="150">
    </div>
    <div class="card-footer bg-white">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
